body {
    margin: 0 8px;
}

svg {
    fill: #757575;
}

md-tabs-content-wrapper {
    margin: 24px 8px 0 8px;
}

.calc {
    background: #3F51B5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    line-height: 150%;
    display: block;
    font-size: 1.85em;
    margin: 0;
}

.spacer {
    background: #3F51B5;
    display: block;
    width: 100%;
    height: 1px;
}

#titleWrap {
    margin-bottom: 10px;
}

ul li {
    margin-bottom: 4px;
    margin-left: 10px;
}

li {
    color: black;
    list-style-type: none;
}

li:before {
    content: '\2022';
    color: #3F51B5;
    padding-right: 0.5em;
}

md-input-container {
    width: 154.016px;
    margin-right: 6px;
    margin-left: 6px;
}

button {
    margin-top: 16px !important;
    margin-left: 0 !important;
}

.ciFont{
    color: #3F51B5 !important;
}

.notice {
    color: maroon;
}

@media screen and (min-width: 600px) {
    body {
        margin: 0 24px;
    }

    md-tabs-content-wrapper {
        margin: 24px 24px 0 24px;
    }
}

/*Responsive Table*/
table {
    border: 1px solid #ccc;
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

table tr {
    border: 1px solid #ddd;
    padding: 5px;
}

table td, table td{
    padding: 10px;
    text-align: center;
}

table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #3F51B5;
    color: #ffffff;
    height: 50px;
    text-align: center;
}

nav, ul {
    overflow: hidden;
}

@media screen and (max-width: 1068px) {
    nav, ul {
        overflow: scroll;
    }
}

@media screen and (max-width: 1040px) {

    table {
        border: 0;
    }

    table thead {
        display: none;
    }

    table tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
    }

    table tr :first-child{
        text-align: right;
    }

    table td {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px dotted #ccc;
        min-height: 36px;
    }

    table td:last-child {
        border-bottom: 0;
    }

    table td:before {
        content: attr(data-label);
        vertical-align: middle;
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }

    tr :nth-child(2n){
     background-color: aliceblue;
 }
}