<script src="../../controller/mixLiquid/extendedController.js"></script><h3 class="ciFont">{{'MIX_LIQUID.EXTENDED.TITLE' | translate}}</h3>
<md-checkbox ng-model="extendedCtrl.withNicotine" ng-change="extendedCtrl.clearForm()"
             aria-label="{{'MIX_LIQUID.EXTENDED.AVAILABLE.CB_NICOTINE' | translate}}">
    {{'MIX_LIQUID.EXTENDED.AVAILABLE.CB_NICOTINE' | translate}}
</md-checkbox>

<form layout="column" layout-align="center center" layout-gt-xs="row" layout-align-gt-xs="space-between center"
      name="mle_form">
    <div layout-wrap>
        <!--Available-->
        <h4 class="ciFont">{{'MIX_LIQUID.EXTENDED.AVAILABLE.TITLE' | translate}}</h4>
        <md-input-container>
            <label>{{'MIX_LIQUID.EXTENDED.AVAILABLE.L_BASE_AMOUNT' | translate}}</label>
            <input ng-model="extendedCtrl.baseAmount" name="baseAmount" type="number" min="10" required>
            <md-tooltip md-direction="bottom">{{'MIX_LIQUID.EXTENDED.AVAILABLE.T_BASE_AMOUNT' | translate}}
            </md-tooltip>
        </md-input-container>

        <md-input-container>
            <label>{{'MIX_LIQUID.EXTENDED.AVAILABLE.L_FLAVOUR_AMOUNT' | translate}}</label>
            <input ng-model="extendedCtrl.flavourAmount" name="flavourAmount" type="number" min="1" required>
            <md-tooltip md-direction="bottom">{{'MIX_LIQUID.EXTENDED.AVAILABLE.T_FLAVOUR_AMOUNT' | translate}}
            </md-tooltip>
        </md-input-container>

        <!--Desired-->
        <h4 class="ciFont">{{'MIX_LIQUID.EXTENDED.DESIRED.TITLE' | translate}}</h4>
        <md-input-container>
            <label>{{'MIX_LIQUID.EXTENDED.DESIRED.L_FLAVOUR_PERCENTAGE' | translate}}</label>
            <input ng-model="extendedCtrl.flavourPercentage" name="flavourPercentage" type="number" min="1"
                   max="20" required>
            <md-tooltip md-direction="bottom">{{'MIX_LIQUID.EXTENDED.DESIRED.T_FLAVOUR_PERCENTAGE' |
                translate}}
            </md-tooltip>
        </md-input-container>

        <md-input-container ng-show="extendedCtrl.withNicotine">
            <label>{{'MIX_LIQUID.EXTENDED.DESIRED.L_NICOTINE_STRENGTH' | translate}}</label>
            <input ng-model="extendedCtrl.nicotineStrength" name="nicotineStrength" type="number" min="1"
                   max="100" higher-then="$storage.globalNicotineStrength" ng-required="withNicotine">
            <md-tooltip md-direction="bottom">{{'MIX_LIQUID.EXTENDED.DESIRED.T_NICOTINE_STRENGTH' |
                translate}}
            </md-tooltip>
        </md-input-container>
    </div>

    <div show-gt-lg flex="auto"></div>

    <md-button type="submit" ng-disabled="mle_form.$invalid"
               ng-click="extendedCtrl.mix()"
               class="md-raised md-primary calc">{{'MIX_LIQUID.B_CALC' | translate}}
    </md-button>

    <div hide-gt-xs class="spacer"></div>

    <div layout-wrap>
        <!--Result-->
        <h4 class="ciFont">{{'MIX_LIQUID.EXTENDED.RESULT.TITLE' | translate}}</h4>
        <md-input-container>
            <label>{{'MIX_LIQUID.EXTENDED.RESULT.L_LIQUID_AMOUNT' | translate}}</label>
            <input class="ciFont" ng-model="::extendedCtrl.liquidAmount" type="number" disabled>
            <md-tooltip md-direction="bottom">{{'MIX_LIQUID.EXTENDED.RESULT.T_LIQUID_AMOUNT' | translate}}
            </md-tooltip>
        </md-input-container>

        <!--Mix-->
        <h4 class="ciFont">{{'MIX_LIQUID.EXTENDED.MIX.TITLE' | translate}}</h4>
        <md-input-container>
            <label>{{'MIX_LIQUID.EXTENDED.MIX.L_ADD_BASE_AMOUNT' | translate}}</label>
            <input class="ciFont" ng-model="::extendedCtrl.addBaseAmount" type="number" disabled>
            <md-tooltip md-direction="bottom">{{'MIX_LIQUID.EXTENDED.MIX.T_ADD_BASE_AMOUNT' | translate}}
            </md-tooltip>
        </md-input-container>

        <md-input-container>
            <label>{{'MIX_LIQUID.EXTENDED.MIX.L_ADD_FLAVOUR_AMOUNT' | translate}}</label>
            <input class="ciFont" ng-model="::extendedCtrl.addFlavourAmount" type="number" disabled>
            <md-tooltip md-direction="bottom">{{'MIX_LIQUID.EXTENDED.MIX.T_ADD_FLAVOUR_AMOUNT' | translate}}
            </md-tooltip>
        </md-input-container>

        <md-input-container ng-show="extendedCtrl.withNicotine">
            <label>{{'MIX_LIQUID.EXTENDED.MIX.L_ADD_NICOTINE_AMOUNT' | translate}}</label>
            <input class="ciFont" ng-model="::extendedCtrl.addNicotineAmount" type="number" disabled>
            <md-tooltip md-direction="bottom">{{'MIX_LIQUID.EXTENDED.MIX.T_ADD_NICOTINE_AMOUNT' | translate}}
            </md-tooltip>
        </md-input-container>
    </div>
</form>

<div layout-wrap>
    <!--Available-->
    <div ng-messages="mle_form.baseAmount.$error" class="notice" role="alert">
        <p ng-message="min">{{'MIX_LIQUID.ERROR.BASE_MIN' | translate}}</p>
    </div>

    <div ng-messages="mle_form.flavourAmount.$error" class="notice" role="alert">
        <p ng-message="min">{{'MIX_LIQUID.ERROR.FLAVOUR_MIN_ML' | translate}}</p>
    </div>

    <!--Desired-->
    <div ng-messages="mle_form.flavourPercentage.$error" class="notice" role="alert">
        <p ng-message="min">{{'MIX_LIQUID.ERROR.FLAVOUR_MIN' | translate}}</p>
        <p ng-message="max">{{'MIX_LIQUID.ERROR.FLAVOUR_MAX' | translate}}</p>
    </div>

    <div ng-messages="mle_form.nicotineStrength.$error" class="notice" role="alert">
        <p ng-message="min">{{'MIX_LIQUID.ERROR.NICOTINE_STRENGTH_MIN' | translate}}</p>
        <p ng-message="max">{{'MIX_LIQUID.ERROR.NICOTINE_STRENGTH_MAX' | translate}}</p>
        <p ng-message="higherThen">{{'MIX_LIQUID.ERROR.NICOTINE_STRENGTH_HIGHER_THEN' | translate}}</p>
    </div>
</div>