<h2 class="ciFont">{{'MIX_LIQUID.TITLE' | translate}}</h2>

<md-nav-bar md-selected-nav-item="selectedNavItem" ng-init="selectedNavItem = $root.setCurrentNavItemByUrl(true)" md-no-ink-bar="true" nav-bar-aria-label="navigation links">
    <md-nav-item md-nav-sref="mixLiquid.simple" name="mixLiquid/simple">{{'MIX_LIQUID.SIMPLE.TITLE' | translate}}</md-nav-item>
    <md-nav-item md-nav-sref="mixLiquid.shakeAndVape" name="mixLiquid/shakeAndVape">{{'MIX_LIQUID.SHAKEANDVAPE.TITLE' | translate}}</md-nav-item>
    <md-nav-item md-nav-sref="mixLiquid.extended" name="mixLiquid/extended">{{'MIX_LIQUID.EXTENDED.TITLE' | translate}}</md-nav-item>
</md-nav-bar>

<ui-view/>
