<h3 class="ciFont">{{'MIX_LIQUID.SHAKEANDVAPE.TITLE' | translate}}</h3>
<form layout="column" layout-align="center center" layout-gt-xs="row" layout-align-gt-xs="space-between center"
      name="mlsav_form">
    <div layout-wrap>
        <md-input-container>
            <label>{{'MIX_LIQUID.SHAKEANDVAPE.L_OVERDOSED_LIQUID_SIZE' | translate}}</label>
            <input ng-model="shakeAndVapeCtrl.overdosedLiquidSize" name="overdosedLiquidSize" type="number"
                   min="10" required>
            <md-tooltip md-direction="bottom">{{'MIX_LIQUID.SHAKEANDVAPE.T_OVERDOSED_LIQUID_SIZE' | translate}}
            </md-tooltip>
        </md-input-container>

        <md-input-container>
            <label>{{'MIX_LIQUID.SHAKEANDVAPE.L_NICOTINE' | translate}}</label>
            <input ng-model="shakeAndVapeCtrl.nicotineStrength" name="nicotineStrength" type="number" min="1"
                   max="100" higher-then="$storage.globalNicotineStrength" required>
            <md-tooltip md-direction="bottom">{{'MIX_LIQUID.SHAKEANDVAPE.T_NICOTINE' | translate}}
            </md-tooltip>
        </md-input-container>
    </div>

    <div show-gt-md flex="auto"></div>

    <md-button type="submit" ng-disabled="mlsav_form.$invalid"
               ng-click="shakeAndVapeCtrl.mix()"
               class="md-raised md-primary calc">{{'MIX_LIQUID.B_CALC' | translate}}
    </md-button>

    <div hide-gt-xs class="spacer"></div>

    <div layout-wrap>
        <md-input-container>
            <label>{{'MIX_LIQUID.SHAKEANDVAPE.L_LIQUID_AMOUNT' | translate}}</label>
            <input class="ciFont" ng-model="::shakeAndVapeCtrl.liquidAmount" type="number" disabled>
            <md-tooltip md-direction="bottom">{{'MIX_LIQUID.SHAKEANDVAPE.T_LIQUID_AMOUNT' | translate}}
            </md-tooltip>
        </md-input-container>

        <md-input-container>
            <label>{{'MIX_LIQUID.SHAKEANDVAPE.L_ADD_BASE_AMOUNT' | translate}}</label>
            <input class="ciFont" ng-model="::shakeAndVapeCtrl.addBaseAmount" type="number" disabled>
            <md-tooltip md-direction="bottom">{{'MIX_LIQUID.SHAKEANDVAPE.T_ADD_BASE_AMOUNT' | translate}}
            </md-tooltip>
        </md-input-container>

        <md-input-container>
            <label>{{'MIX_LIQUID.SHAKEANDVAPE.L_ADD_NICOTINE_AMOUNT' | translate}}</label>
            <input class="ciFont" ng-model="::shakeAndVapeCtrl.addNicotineAmount" type="number" disabled>
            <md-tooltip md-direction="bottom">{{'MIX_LIQUID.SHAKEANDVAPE.T_ADD_NICOTINE_AMOUNT' | translate}}
            </md-tooltip>
        </md-input-container>
    </div>
</form>

<div layout-wrap>
    <div ng-messages="mlsav_form.overdosedLiquidSize.$error" class="notice" role="alert">
        <p ng-message="min">{{'MIX_LIQUID.ERROR.LIQUID_MIN' | translate}}</p>
    </div>

    <div ng-messages="mlsav_form.nicotineStrength.$error" class="notice" role="alert">
        <p ng-message="min">{{'MIX_LIQUID.ERROR.NICOTINE_STRENGTH_MIN' | translate}}</p>
        <p ng-message="max">{{'MIX_LIQUID.ERROR.NICOTINE_STRENGTH_MAX' | translate}}</p>
        <p ng-message="higherThen">{{'MIX_LIQUID.ERROR.NICOTINE_STRENGTH_HIGHER_THEN' | translate}}</p>
    </div>
</div>

<h2 hide-xs ng-hide="$storage.mlsav_history == null" class="ciFont">{{'MIX_LIQUID.SIMPLE.History' |
    translate}}</h2>
<table hide-xs ng-hide="$storage.mlsav_history == null">
    <thead>
    <th>{{'MIX_LIQUID.SHAKEANDVAPE.TH_LIQUID_AMOUNT' | translate}}</th>
    <th>{{'MIX_LIQUID.SHAKEANDVAPE.TH_NICOTINE' | translate}}</th>
    <th>{{'MIX_LIQUID.SIMPLE.TH_ACTIONS' | translate}}</th>
    </thead>
    <tbody>
    <tr ng-repeat="item in $storage.mlsav_history track by $index">
        <td data-label="{{'MIX_LIQUID.SHAKEANDVAPE.TH_LIQUID_AMOUNT' | translate}}">{{ item.liquidAmount }}</td>
        <td data-label="{{'MIX_LIQUID.SHAKEANDVAPE.TH_NICOTINE' | translate}}">{{ item.nicotine }}</td>
        <td>
            <md-button ng-click="shakeAndVapeCtrl.restoreFromHistory($index)" class="md-icon-button" aria-label="insert values">
                <md-icon md-svg-icon="img/ic_file_upload_black_48px.svg"></md-icon>
            </md-button>
        </td>
    </tr>
    </tbody>
</table>