<h3 class="ciFont">{{'MIX_LIQUID.SIMPLE.TITLE' | translate}}</h3>
<md-checkbox ng-model="simpleCtrl.withNicotine" ng-change="simpleCtrl.clearForm()"
             aria-label="{{'MIX_LIQUID.SIMPLE.CB_NICOTINE' | translate}}">{{'MIX_LIQUID.SIMPLE.CB_NICOTINE' |
    translate}}
</md-checkbox>
<md-checkbox ng-model="simpleCtrl.withAdditionalFlavour" ng-change="simpleCtrl.clearForm()"
             aria-label="{{'MIX_LIQUID.SIMPLE.CB_ADDITIONAL_FLAVOUR' | translate}}">
    {{'MIX_LIQUID.SIMPLE.CB_ADDITIONAL_FLAVOUR' | translate}}
</md-checkbox>
<form layout="column" layout-align="center center" layout-gt-xs="row" layout-align-gt-xs="space-between center"
      name="ml_form">
    <div layout-wrap>
        <md-input-container flex="noshrink">
            <label>{{'MIX_LIQUID.SIMPLE.L_LIQUID_AMOUNT' | translate}}</label>
            <input ng-model="simpleCtrl.liquidAmount" name="liquidAmount" type="number" min="10" required>
            <md-tooltip md-direction="bottom">{{'MIX_LIQUID.SIMPLE.T_LIQUID_AMOUNT' | translate}}</md-tooltip>
        </md-input-container>

        <md-input-container flex="noshrink">
            <label>{{'MIX_LIQUID.SIMPLE.L_FLAVOUR_PERCENTAGE' | translate}}</label>
            <input ng-model="simpleCtrl.flavourPercentage" name="flavourPercentage" type="number"
                   min="1" max="20" required>
            <md-tooltip md-direction="bottom">{{'MIX_LIQUID.SIMPLE.T_FLAVOUR_PERCENTAGE' | translate}}
            </md-tooltip>
        </md-input-container>

        <md-input-container flex="noshrink" ng-show="simpleCtrl.withAdditionalFlavour">
            <label>{{'MIX_LIQUID.SIMPLE.L_ADDITIONAL_FLAVOUR' | translate}}</label>
            <input ng-model="simpleCtrl.additionalFlavourPercentage" name="additionalFlavourPercentage"
                   type="number"
                   min="1" max="20" ng-required="simpleCtrl.withAdditionalFlavour">
            <md-tooltip md-direction="bottom">{{'MIX_LIQUID.SIMPLE.T_ADDITIONAL_FLAVOUR' | translate}}
            </md-tooltip>
        </md-input-container>

        <md-input-container flex="noshrink" ng-show="simpleCtrl.withNicotine">
            <label>{{'MIX_LIQUID.SIMPLE.L_NICOTINE' | translate}}</label>
            <input ng-model="simpleCtrl.nicotineStrength" name="nicotineStrength" type="number" min="1"
                   max="100"
                   higher-then="$storage.globalNicotineStrength"
                   ng-required="simpleCtrl.withNicotine">
            <md-tooltip md-direction="bottom">{{'MIX_LIQUID.SIMPLE.T_NICOTINE' | translate}}</md-tooltip>
        </md-input-container>
    </div>

    <div show-gt-lg flex="auto"></div>

    <md-button type="submit" ng-disabled="ml_form.$invalid"
               ng-click="simpleCtrl.mix()"
               class="md-raised md-primary calc">{{'MIX_LIQUID.B_CALC' | translate}}
    </md-button>

    <div hide-gt-xs class="spacer"></div>

    <div layout-wrap>
        <md-input-container flex="noshrink">
            <label>{{'MIX_LIQUID.SIMPLE.L_BASE_AMOUNT' | translate}}</label>
            <input class="ciFont" ng-model="::simpleCtrl.baseAmount" type="number" disabled>
            <md-tooltip md-direction="bottom">{{'MIX_LIQUID.SIMPLE.T_BASE_AMOUNT' | translate}}</md-tooltip>
        </md-input-container>

        <md-input-container flex="noshrink">
            <label>{{'MIX_LIQUID.SIMPLE.L_FLAVOUR_AMOUNT' | translate}}</label>
            <input class="ciFont" ng-model="::simpleCtrl.flavourAmount" type="number" disabled>
            <md-tooltip md-direction="bottom">{{'MIX_LIQUID.SIMPLE.T_FLAVOUR_AMOUNT' | translate}}</md-tooltip>
        </md-input-container>

        <md-input-container flex="noshrink" ng-show="simpleCtrl.withAdditionalFlavour">
            <label>{{'MIX_LIQUID.SIMPLE.L_ADDITIONAL_FLAVOUR_AMOUNT' | translate}}</label>
            <input class="ciFont" ng-model="::simpleCtrl.additionalFlavourAmount" type="number" disabled>
            <md-tooltip md-direction="bottom">{{'MIX_LIQUID.SIMPLE.T_ADDITIONAL_FLAVOUR_AMOUNT' | translate}}
            </md-tooltip>
        </md-input-container>

        <md-input-container flex="noshrink" ng-show="simpleCtrl.withNicotine">
            <label>{{'MIX_LIQUID.SIMPLE.L_NICOTINE_AMOUNT' | translate}}</label>
            <input class="ciFont" ng-model="::simpleCtrl.nicotineAmount" type="number" disabled>
            <md-tooltip md-direction="bottom">{{'MIX_LIQUID.SIMPLE.T_NICOTINE_AMOUNT' | translate}}</md-tooltip>
        </md-input-container>
    </div>

</form>

<div layout-wrap>
    <div ng-messages="ml_form.liquidAmount.$error" class="notice" role="alert">
        <p ng-message="min">{{'MIX_LIQUID.ERROR.LIQUID_MIN' | translate}}</p>
    </div>

    <div ng-messages="ml_form.flavourPercentage.$error" class="notice" role="alert">
        <p ng-message="min">{{'MIX_LIQUID.ERROR.FLAVOUR_MIN' | translate}}</p>
        <p ng-message="max">{{'MIX_LIQUID.ERROR.FLAVOUR_MAX' | translate}}</p>
    </div>

    <div ng-messages="ml_form.additionalFlavourPercentage.$error" class="notice" role="alert">
        <p ng-message="min">{{'MIX_LIQUID.ERROR.ADDITIONAL_FLAVOUR_MIN' | translate}}</p>
        <p ng-message="max">{{'MIX_LIQUID.ERROR.ADDITIONAL_FLAVOUR_MAX' | translate}}</p>
    </div>

    <div ng-messages="ml_form.nicotineStrength.$error" class="notice" role="alert">
        <p ng-message="min">{{'MIX_LIQUID.ERROR.NICOTINE_STRENGTH_MIN' | translate}}</p>
        <p ng-message="max">{{'MIX_LIQUID.ERROR.NICOTINE_STRENGTH_MAX' | translate}}</p>
        <p ng-message="higherThen">{{'MIX_LIQUID.ERROR.NICOTINE_STRENGTH_HIGHER_THEN' | translate}}</p>
    </div>
</div>

<h2 hide-xs ng-hide="$storage.ml_history == null" class="ciFont">{{'MIX_LIQUID.SIMPLE.History' |
    translate}}</h2>
<table hide-xs ng-hide="$storage.ml_history == null">
    <thead>
    <th>{{'MIX_LIQUID.SIMPLE.TH_LIQUID_AMOUNT' | translate}}</th>
    <th>{{'MIX_LIQUID.SIMPLE.TH_FLAVOUR_PERCENTAGE' | translate}}</th>
    <th>{{'MIX_LIQUID.SIMPLE.TH_ADDITIONAL_FLAVOUR' | translate}}</th>
    <th>{{'MIX_LIQUID.SIMPLE.TH_NICOTINE' | translate}}</th>
    <th>{{'MIX_LIQUID.SIMPLE.TH_ACTIONS' | translate}}</th>
    </thead>
    <tbody>
    <tr ng-repeat="item in $storage.ml_history track by $index">
        <td data-label="{{'MIX_LIQUID.SIMPLE.TH_LIQUID_AMOUNT' | translate}}">{{ item.liquidAmount }}</td>
        <td data-label="{{'MIX_LIQUID.SIMPLE.TH_FLAVOUR_PERCENTAGE' | translate}}">{{ item.flavourPercentage }}
        </td>
        <td data-label="{{'MIX_LIQUID.SIMPLE.TH_ADDITIONAL_FLAVOUR' | translate}}">{{
            item.additionalFlavourPercentage }}
        </td>
        <td data-label="{{'MIX_LIQUID.SIMPLE.TH_NICOTINE' | translate}}">{{ item.nicotineStrength }}</td>
        <td>
            <md-button ng-click="simpleCtrl.restoreFromHistory($index)" class="md-icon-button" aria-label="insert values">
                <md-icon md-svg-icon="img/ic_file_upload_black_48px.svg"></md-icon>
            </md-button>
        </td>
    </tr>
    </tbody>
</table>