<html ng-app="liquidCalc" lang="en,de" xmlns="http://www.w3.org/1999/html">
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101799604-1"></script>
    <script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-101799604-1");</script>

    <title>{{'PAGE_TITLE' | translate}}</title>
    <meta name="description" content="{{ 'PAGE_DESCRIPTION' | translate }}">
    <meta name="keywords" content="{{ 'PAGE_KEYWORDS' | translate }}">
    <meta name="author" content="Dominik Süßenbach">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/site.min.css" media="bogus">
</head>
<body ng-controller="appController as appCtrl" ng-cloak>
<md-content>
    <div id="titleWrap" layout="column" layout-gt-xs="row" layout-align="center center"
         layout-align-gt-xs="start stretch" layout-padding>
        <h1 class="ciFont" flex flex-gt-xs="none">{{'TITLE' | translate}}</h1>

        <div flex hide-xs></div>

        <md-input-container flex flex-gt-xs="none">
            <label>{{'L_NICOTINE_STRENGTH' | translate}}</label>
            <input ng-model="$storage.globalNicotineStrength" type="number" min="1" max="100">
            <md-tooltip md-direction="bottom">{{'T_NICOTINE_STRENGTH' | translate}}</md-tooltip>
        </md-input-container>

        <md-input-container flex flex-gt-xs="none">
            <md-select ng-model="language" aria-label="{{'LANGUAGE' | translate}}"
                       placeholder="{{'LANGUAGE' | translate}}">
                <md-option value="us">English</md-option>
                <md-option value="de">Deutsch</md-option>
            </md-select>
        </md-input-container>
    </div>

    <md-nav-bar md-selected-nav-item="selectedNavItem" ng-init="selectedNavItem = $root.setCurrentNavItemByUrl(false)"
                md-no-ink-bar="true" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-sref="mixLiquid.simple" name="mixLiquid">{{'MIX_LIQUID.TITLE' | translate}}</md-nav-item>
        <md-nav-item md-nav-sref="mixBase" name="mixBase">{{'MIX_BASE.TITLE' | translate}}</md-nav-item>
        <md-nav-item md-nav-sref="settings" name="settings">{{'SETTINGS.TITLE' | translate}}</md-nav-item>
        <md-nav-item md-nav-sref="info" name="info">{{'INFO.TITLE' | translate}}</md-nav-item>
        <md-nav-item ng-show="$storage.language == 'de'" md-nav-href="#!/impressum" name="impressum">Impressum</md-nav-item>
    </md-nav-bar>

    <ui-view/>
</md-content>

<link rel="stylesheet" href="css/site.min.css">
<script type="text/javascript" src="js/vendors.min.js" defer></script>
<script type="text/javascript" src="js/app.min.js" defer></script>

</body>
</html>
