<h1>Impressum</h1>
<h2>Angaben gem&auml;&szlig; &sect; 5 TMG:</h2>
<p>Dominik
    S&uuml;&szlig;enbach<br/></p>
<h2>
    Kontakt:</h2>
<table>
    <tr>
        <td>E-Mail:</td>
        <td>domenikus191@googlemail.com</td>
    </tr>
</table>
<h2>
    Haftung f&uuml;r Inhalte</h2>
<p>Als Diensteanbieter sind wir gem&auml;&szlig; &sect; 7 Abs.1 TMG
    f&uuml;r eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach
    &sect;&sect; 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, &uuml;bermittelte oder
    gespeicherte fremde Informationen zu &uuml;berwachen oder nach Umst&auml;nden zu forschen, die auf
    eine rechtswidrige T&auml;tigkeit hinweisen.</p>
<p>Verpflichtungen zur Entfernung oder Sperrung der
    Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unber&uuml;hrt. Eine
    diesbez&uuml;gliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten
    Rechtsverletzung m&ouml;glich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir
    diese Inhalte umgehend entfernen.</p>
<h2>Haftung f&uuml;r Links</h2>
<p>Unser Angebot
    enth&auml;lt Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb
    k&ouml;nnen wir f&uuml;r diese fremden Inhalte auch keine Gew&auml;hr &uuml;bernehmen. F&uuml;r
    die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten
    verantwortlich.
    Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf m&ouml;gliche Rechtsverst&ouml;&szlig;e
    &uuml;berpr&uuml;ft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.</p>
<p>
    Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer
    Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links
    umgehend entfernen.</p>
<h2>Urheberrecht</h2>
<p>Die durch die Seitenbetreiber erstellten Inhalte und
    Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielf&auml;ltigung,
    Bearbeitung, Verbreitung und jede Art der Verwertung au&szlig;erhalb der Grenzen des Urheberrechtes
    bed&uuml;rfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien
    dieser Seite sind nur f&uuml;r den privaten, nicht kommerziellen Gebrauch gestattet.</p>
<p>Soweit die
    Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet.
    Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
    Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei
    Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>
<p>
    &nbsp;</p>
<p>Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>

<h1>Datenschutzerkl&auml;rung</h1>
<h2>Datenschutz</h2>
<p>Die Betreiber dieser Seiten nehmen
    den Schutz Ihrer pers&ouml;nlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten
    vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser
    Datenschutzerkl&auml;rung.</p>
<p>Die Nutzung unserer Webseite ist in der Regel ohne Angabe
    personenbezogener Daten m&ouml;glich. Soweit auf unseren Seiten personenbezogene Daten
    (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit
    m&ouml;glich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdr&uuml;ckliche Zustimmung
    nicht an Dritte weitergegeben.</p>
<p>Wir weisen darauf hin, dass die Daten&uuml;bertragung im Internet
    (z.B. bei der Kommunikation per E-Mail) Sicherheitsl&uuml;cken aufweisen kann. Ein l&uuml;ckenloser
    Schutz der Daten vor dem Zugriff durch Dritte ist nicht m&ouml;glich.</p>
<p>&nbsp;</p>
<h2>
    Cookies</h2>
<p>Die Internetseiten verwenden teilweise so genannte Cookies. Cookies richten auf Ihrem
    Rechner keinen Schaden an und enthalten keine Viren. Cookies dienen dazu, unser Angebot
    nutzerfreundlicher, effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf Ihrem
    Rechner abgelegt werden und die Ihr Browser speichert.</p>
<p>Die meisten der von uns verwendeten
    Cookies sind so genannte „Session-Cookies“. Sie werden nach Ende Ihres Besuchs automatisch
    gel&ouml;scht. Andere Cookies bleiben auf Ihrem Endger&auml;t gespeichert, bis Sie diese l&ouml;schen.
    Diese Cookies erm&ouml;glichen es uns, Ihren Browser beim n&auml;chsten Besuch
    wiederzuerkennen.</p>
<p>Sie k&ouml;nnen Ihren Browser so einstellen, dass Sie &uuml;ber das Setzen
    von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies f&uuml;r
    bestimmte F&auml;lle oder generell ausschlie&szlig;en sowie das automatische L&ouml;schen der
    Cookies beim Schlie&szlig;en des Browser aktivieren. Bei der Deaktivierung von Cookies kann die

    Funktionalit&auml;t dieser Website eingeschr&auml;nkt sein.</p>
<p>&nbsp;</p>
<h2>Server-Log-
    Files</h2>
<p>Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten

    Server-Log Files, die Ihr Browser automatisch an uns &uuml;bermittelt. Dies sind:</p>
<ul>
    <li>
        Browsertyp und Browserversion
    </li>
    <li>verwendetes Betriebssystem</li>
    <li>Referrer URL</li>
    <li>
        Hostname des zugreifenden Rechners
    </li>
    <li>Uhrzeit der Serveranfrage</li>
</ul>
<p><br/>Diese Daten
    sind nicht bestimmten Personen zuordenbar. Eine Zusammenf&uuml;hrung dieser Daten mit anderen
    Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachtr&auml;glich zu
    pr&uuml;fen, wenn uns konkrete Anhaltspunkte f&uuml;r eine rechtswidrige Nutzung bekannt werden.</p>
<p>&nbsp;</p>
<h2>Datenschutzerkl&auml;rung f&uuml;r die Nutzung von Google Analytics</h2>
<p>
    Diese Website nutzt Funktionen des Webanalysedienstes Google Analytics. Anbieter ist die Google Inc.,
    1600 Amphitheatre Parkway Mountain View, CA 94043, USA.</p>
<p>Google Analytics verwendet so
    genannte "Cookies". Das sind Textdateien, die auf Ihrem Computer gespeichert werden und die eine
    Analyse der Benutzung der Website durch Sie erm&ouml;glichen. Die durch den Cookie erzeugten
    Informationen &uuml;ber Ihre Benutzung dieser Website werden in der Regel an einen Server von Google
    in den USA &uuml;bertragen und dort gespeichert.</p>
<p>Mehr Informationen zum Umgang mit
    Nutzerdaten bei Google Analytics finden Sie in der Datenschutzerkl&auml;rung von Google: <a
            href="https://support.google.com/analytics/answer/6004245?hl=de">
        https://support.google.com/analytics/answer/6004245?hl=de</a></p>
<p><strong>Browser
    Plugin</strong></p>
<p>Sie k&ouml;nnen die Speicherung der Cookies durch eine entsprechende
    Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall
    gegebenenfalls nicht s&auml;mtliche Funktionen dieser Website vollumf&auml;nglich werden nutzen
    k&ouml;nnen. Sie k&ouml;nnen dar&uuml;ber hinaus die Erfassung der durch den Cookie erzeugten und
    auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung

    dieser Daten durch Google verhindern, indem Sie das unter dem folgenden Link verf&uuml;gbare Browser-
    Plugin herunterladen und installieren: <a href="https://tools.google.com/dlpage/gaoptout?hl=de">

        https://tools.google.com/dlpage/gaoptout?hl=de</a></p>
<p><strong>Widerspruch gegen
    Datenerfassung</strong></p>
<p>Sie k&ouml;nnen die Erfassung Ihrer Daten durch Google Analytics
    verhindern, indem Sie auf folgenden Link klicken. Es wird ein Opt-Out-Cookie gesetzt, der die Erfassung
    Ihrer Daten bei zuk&uuml;nftigen Besuchen dieser Website verhindert: <a href="javascript:gaOptout();">
        Google Analytics deaktivieren</a></p>
<p><strong>Auftragsdatenverarbeitung</strong></p>
<p>Wir
    haben mit Google einen Vertrag zur Auftragsdatenverarbeitung abgeschlossen und setzen die strengen
    Vorgaben der deutschen Datenschutzbeh&ouml;rden bei der Nutzung von Google Analytics
    vollst&auml;ndig um.</p>
<p>&nbsp;</p>
<h2>Widerspruch Werbe-
    Mails</h2>
<p>Der Nutzung von im Rahmen der Impressumspflicht ver&ouml;ffentlichten Kontaktdaten

    zur &Uuml;bersendung von nicht ausdr&uuml;cklich angeforderter Werbung und Informationsmaterialien
    wird hiermit widersprochen. Die Betreiber der Seiten behalten sich ausdr&uuml;cklich rechtliche Schritte
    im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-E-Mails, vor.</p>
<p>
    &nbsp;</p>
<p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
