<h2 class="ciFont">{{'INFO.TITLE' | translate}}</h2>
<md-content>
    <h3 class="ciFont">{{'INFO.CONTRIBUTING' | translate}}</h3>
    <p translate="{{'INFO.ISSUES'}}"></p>
    <p translate="{{'INFO.PROJECT'}}"></p>

    <div ng-show="$storage.language == 'de'">
        <p>Die Seite ist und bleibt Werbefrei, jedoch kann meine Arbeit mit einer Spende über PayPal unterstützt werden.</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="4CLERCF57GN4A">
            <input type="image" src="https://www.paypalobjects.com/de_DE/DE/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
            <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
</md-content>