<h2 class="ciFont">{{'MIX_BASE.TITLE' | translate}}</h2>
<md-checkbox ng-model="mixBaseCtrl.withNicotine" ng-change="mixBaseCtrl.clearForm()"
             aria-label="{{'MIX_BASE.CB_NICOTINE' | translate}}">{{'MIX_BASE.CB_NICOTINE' | translate}}
</md-checkbox>
<form layout="column" layout-align="center center" layout-gt-xs="row" layout-align-gt-xs="space-between center"
      name="mb_form">
    <div layout-wrap>
        <md-input-container>
            <label>{{'MIX_BASE.L_BASE_AMOUNT' | translate}}</label>
            <input ng-model="mixBaseCtrl.baseAmount" name="baseAmount" type="number" min="10" required>
            <md-tooltip md-direction="bottom">{{'MIX_BASE.T_BASE_AMOUNT' | translate}}</md-tooltip>
        </md-input-container>

        <md-input-container>
            <label>{{'MIX_BASE.L_PG_PERCENTAGE' | translate}}</label>
            <input ng-model="mixBaseCtrl.pgPercentage" name="pgPercentage" min="10" max="90" type="number"
                   required>
            <md-tooltip md-direction="bottom">{{'MIX_BASE.T_PG_PERCENTAGE' | translate}}</md-tooltip>
        </md-input-container>

        <md-input-container>
            <label>{{'MIX_BASE.L_VG_PERCENTAGE' | translate}}</label>
            <input ng-model="mixBaseCtrl.vgPercentage" name="vgPercentage" type="number"
                   min="10" max="90" validate-percent-to="mixBaseCtrl.pgPercentage" required>
            <md-tooltip md-direction="bottom">{{'MIX_BASE.T_VG_PERCENTAGE' | translate}}</md-tooltip>
        </md-input-container>

        <md-input-container ng-show="mixBaseCtrl.withNicotine">
            <label>{{'MIX_BASE.L_NICOTINE' | translate}}</label>
            <input ng-model="mixBaseCtrl.nicotineStrength" name="nicotineStrength" type="number" min="1"
                   max="100"
                   higher-then="$storage.globalNicotineStrength"
                   ng-required="mixBaseCtrl.withNicotine">
            <md-tooltip md-direction="bottom">{{'MIX_BASE.T_NICOTINE' | translate}}</md-tooltip>
        </md-input-container>
    </div>

    <div show-gt-lg flex="auto"></div>

    <md-button type="submit" ng-disabled="mb_form.$invalid"
               ng-click="mixBaseCtrl.mix()"
               class="md-raised md-primary calc">{{'MIX_BASE.B_CALC' | translate}}
    </md-button>

    <div hide-gt-xs class="spacer"></div>

    <div layout-wrap>
        <md-input-container>
            <label>{{'MIX_BASE.L_PG_AMOUNT' | translate}}</label>
            <input class="ciFont" ng-model="::mixBaseCtrl.pgAmount" type="number" disabled>
            <md-tooltip md-direction="bottom">{{'MIX_BASE.T_PG_AMOUNT' | translate}}</md-tooltip>
        </md-input-container>

        <md-input-container>
            <label>{{'MIX_BASE.L_VG_AMOUNT' | translate}}</label>
            <input class="ciFont" ng-model="::mixBaseCtrl.vgAmount" type="number" disabled>
            <md-tooltip md-direction="bottom">{{'MIX_BASE.T_VG_AMOUNT' | translate}}</md-tooltip>
        </md-input-container>

        <md-input-container>
            <label>{{'MIX_BASE.L_WATER_AMOUNT' | translate}}</label>
            <input class="ciFont" ng-model="::mixBaseCtrl.waterAmount" type="number" disabled>
            <md-tooltip md-direction="bottom">{{'MIX_BASE.T_WATER_AMOUNT' | translate}}</md-tooltip>
        </md-input-container>

        <md-input-container ng-show="mixBaseCtrl.withNicotine">
            <label>{{'MIX_BASE.L_ADD_NICOTINE_AMOUNT' | translate}}</label>
            <input class="ciFont" ng-model="::mixBaseCtrl.nicotineAmount" type="number" disabled>
            <md-tooltip md-direction="bottom">{{'MIX_BASE.T_ADD_NICOTINE_AMOUNT' | translate}}</md-tooltip>
        </md-input-container>
    </div>
</form>

<div layout-wrap>
    <div ng-messages="mb_form.baseAmount.$error" class="notice" role="alert">
        <p ng-message="min">{{'MIX_BASE.ERROR.BASE_AMOUNT' | translate}}</p>
    </div>

    <div ng-messages="mb_form.vgPercentage.$error" class="notice" role="alert">
        <p ng-message="validatePercent">{{'MIX_BASE.ERROR.VALIDATE_PERCENT' | translate}}</p>
        <p ng-message="min">{{'MIX_BASE.ERROR.PG_MIN' | translate}}</p>
        <p ng-message="max">{{'MIX_BASE.ERROR.PG_MAX' | translate}}</p>
    </div>

    <div ng-messages="mb_form.pgPercentage.$error" class="notice" role="alert">
        <p ng-message="min">{{'MIX_BASE.ERROR.VG_MIN' | translate}}</p>
        <p ng-message="max">{{'MIX_BASE.ERROR.VG_MAX' | translate}}</p>
    </div>

    <div ng-messages="mb_form.nicotineStrength.$error" class="notice" role="alert">
        <p ng-message="min">{{'MIX_BASE.ERROR.NICOTINE_STRENGTH_MIN' | translate}}</p>
        <p ng-message="max">{{'MIX_BASE.ERROR.NICOTINE_STRENGTH_MAX' | translate}}</p>
        <p ng-message="higherThen">{{'MIX_BASE.ERROR.NICOTINE_STRENGTH_HIGHER_THEN' | translate}}</p>
    </div>
</div>

<h2 hide-xs hide-sm ng-hide="$storage.mb_history == null" class="ciFont">{{'MIX_BASE.History' | translate}}</h2>
<table hide-xs hide-sm ng-hide="$storage.mb_history == null">
    <thead>
    <th>{{'MIX_BASE.TH_BASE_AMOUNT' | translate}}</th>
    <th>{{'MIX_BASE.TH_PG_PERCENTAGE' | translate}}</th>
    <th>{{'MIX_BASE.TH_VG_PERCENTAGE' | translate}}</th>
    <th>{{'MIX_BASE.TH_WATER' | translate}}</th>
    <th>{{'MIX_BASE.TH_NICOTINE' | translate}}</th>
    <th>{{'MIX_BASE.TH_ACTIONS' | translate}}</th>
    </thead>
    <tbody>
    <tr ng-repeat="item in $storage.mb_history track by $index">
        <td data-label="{{'MIX_BASE.TH_BASE_AMOUNT' | translate}}">{{ item.baseAmount }}</td>
        <td data-label="{{'MIX_BASE.TH_PG_PERCENTAGE' | translate}}">{{ item.pg }}</td>
        <td data-label="{{'MIX_BASE.TH_VG_PERCENTAGE' | translate}}">{{item.vg }}</td>
        <td data-label="{{'MIX_BASE.TH_WATER' | translate}}">{{item.water }}</td>
        <td data-label="{{'MIX_BASE.TH_NICOTINE' | translate}}">{{item.nicotine }}</td>
        <td>
            <md-button ng-click="mixBaseCtrl.restoreFromHistory($index)" class="md-icon-button" aria-label="insert values">
                <md-icon md-svg-icon="img/ic_file_upload_black_48px.svg"></md-icon>
            </md-button>
        </td>
    </tr>
    </tbody>
</table>